<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.nphau.android.config">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Clean.Theme"
        tools:node="merge">

        <activity
            android:name=".ConfigActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/mvvm_config">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>